@charset "utf-8";

@import '../../node_modules/include-media/dist/_include-media.scss';
@import 'base/reset';
@import 'base/config';
@import 'base/mixins';
@import 'base/type';
@import 'base/grid';

// page specific styles
// @import 'pages/home';

// added for the footer reveal effect
body {
	background-color: $c-light-grey;

	@include v-spacing(margin-bottom, 420px, 300px);

	@include media(">=small") {
		@include v-spacing(margin-bottom, 320px, 300px);
	}

	main {
		background-color: $c-light-grey;
		position: relative;
		z-index: +1;
	}
}