.container {
	position: fixed;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: $z-index-three;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include site-padding;

	a {

		@include Link;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.logo_wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	img {
		width: auto;

		@include v-spacing(height, 60px, 70px);
	}
}